@{
    ViewData["Title"] = "Home Page";
}
@model List<QuestionsModel>

<br>
<br>
<section>
    <h4>Questions</h4>
    @foreach(var item in Model)
    {
        <ul list-style="none">
            <a href="/Questions/Details/@item.Id">@item.Title</a>
        </ul>
    }

</section>